body{
    background-color: black;
    padding: 30px;
}
.main{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: black;
    height: 1450px;
}
.heading h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.poster{
    padding: 30px;
}
.poster img{
    width: 420px;
}
.icons{
    position: absolute;
    top: 450px;
    left: 0px;
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    justify-content: center;
}
.icons img{
    width: 600px;
}
.title{
    position: absolute;
    top: 250px;
    left: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.title img{
    position: relative;
    top: -120px;
    width:500px;
}
.title h1{
    font-family: cursive;
}
.lyrics{
    margin-top: 150px;
    margin-left: 800px;
}
.lyrics b{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.lyrics p{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.sidebar{
    width: 600px;
    padding: 30px;
    position: relative;
    top: -650px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sidebar img{
    width: 80px;
}
.first_rec{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;    
}
